# web development
flask==1.1.2 # comes with flask-restful, but i prefer install separated
flask-restful==0.3.8

# database
redis==3.5.3

# others
tqdm==4.55.1
datetime==4.3

# design patterns
dependency-injector==4.5.4

# data serialization (metadata)
pyYAML==5.3.1

#data science
numpy==1.19.4
pandas==1.2.0
scipy==1.6.0

# data visualization
matplotlib==3.3.3

# multithread applications
yappi==1.3.2

# Type Hintings
typing==3.7.4.3

# others
aniso8601==8.0.0
click==7.1.2                                                                              
itsdangerous==1.1.0
Jinja2==2.11.3
MarkupSafe==1.1.1

python-dateutil==2.8.1
pytz==2020.4

sortedcontainers == 2.1.0
six==1.15.0

Werkzeug==1.0.1

zope.interface==5.2.0
pkg_resources>=0.0.0 # Does not exist
