<!DOCTYPE html>
<html>
<head>
	<link href="static/homepage/style.css" rel="stylesheet">
	<script src="static/homepage/scripts.js"> </script>
	<title>EcoSim Homepage</title>
</head>
<body onload="get_list();">
	<div id="header">
		<h1>EcoSim 0.0.2</h1>
		<h3>A multi-agent based simulator.</h3>
		<br><br>
		<h2>Select Model</h2>
	</div>

	<div id="container-models">
		<form action="/simulation" method="post" id="form-models" class='btn-group'></form>

		<!-- <form action="/parametrization" method="post" id="form-models" class='btn-group'> -->
	</div>

	<div id="footer">
		<img src="static/homepage/images/ufpa.png" width=90 height=90>
		<p>Universidade Federal do Pará - Faculdade de Economia<p>
	</div>
</body>
</html>