<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<title>Parametrization</title>
</head>
<body>
	<h1>Enter with the simulation parameter in the  JSON format</h1>

	<form id="form-parameters" action="/simulation", method="post">
		<textarea name="textarea-parameters" rows="20" cols="70" placeholder="json parameters here"></textarea>
		<input type="submit" name="input-submit" value="Simulate">
	</form>
</body>
</html>
