#container-models{
	min-height: 0px;
	max-height: 5000px;
	width: 400px; 
	padding-left: 80px;

}
#header{
	padding-left: 80px;
}

#footer{
	position: fixed;
	bottom: 0%;
	width: 100%;
	height: 125px;
	text-align: center;
	color: #CFD8DC;
}

.list-item{
	border: 1px solid black;
	height: 48px;
	width: 398px;
	padding-left: 10px;
	text-align: left;
	background-color: #CFD8DC;
	cursor: pointer;
	animation: fadein 1s;
  	-moz-animation: fadein 1s; 
  	-webkit-animation: fadein 1s; 
  	-o-animation: fadein 1s;
  	transition: 1s;
}

.list-item:hover{
	background: #595959;
	transition: 0.5s;

}

h1, h2, h3{
	color: #CFD8DC;
}
h1, h2, h3, p{
	font-family: sans-serif;
}

body{
	background: black;
}

.next{
	float: right;
	padding-right: 5px;
	padding-top: 16px;
}
.list-item-text{

}

@keyframes fadein {
    from {
        opacity:0;
    }
    to {
        opacity:1;
    }
}
@-moz-keyframes fadein { 
    from {
        opacity:0;
    }
    to {
        opacity:1;
    }
}
@-webkit-keyframes fadein { 
    from {
        opacity:0;
    }
    to {
        opacity:1;
    }
}
@-o-keyframes fadein { 
    from {
        opacity:0;
    }
    to {
        opacity: 1;
    }
}

