
      #corpo{
        background: #282726;
        
        height: 85%;
      }
      h1{
        color: black;
      }
      h2{
        color: #3d3e3c;
      }
      h3{
        color: #3d3e3c;
      }
      .texto{
        font-family: sans-serif;
      }
      .box{
        border-right: 3px solid white;
        border-bottom: 3px;
        border-color: #fc4a1a;
        width: 180px;
        background: #aeb5aa;
        margin: 15px 15px 5px 100px;
        float: none;
        text-align: center;
        font-family: sans-serif;
        padding-bottom: 5px;
      }
      .box2{
        border-right: 3px solid white;
        border-bottom: 3px;
        border-color: #fc4a1a;
        padding: 5px;
        padding-top: 0px;
        width: 270px;
        background: #aeb5aa;
        margin: 0px 0px 0px 100px;
        
        
        display:none;
        font-family: sans-serif;
      }
      .box3{
        border-right: 3px solid white;
        border-bottom: 3px;
        border-color: solid #fc4a1a;
        padding: 5px;
        padding-top: 0px;
        width: 270px;
        background: #aeb5aa;
        margin: 0px 0px 0px 100px;
        float: left;
        
        display:none;
      }
      .boxdin{
        border-right: 3px solid white;
        border-color: #fc4a1a;
        width: 250px;
        background: #aeb5aa;
        margin: 15px 15px 5px 100px;
        float: none;
        font-family: sans-serif;

      }
      #agents{
        padding-top: 00px;
        margin-top: 0px;
      }
      #spaces{
        padding-top: 00px;
        margin-top: 0px;
      }
      #top{
        background: #233237;
        width: 100%;
        padding-top: 10px;
        
      }
      #background{
        background-color: black;
        padding-left: 100px;
        padding-right: 100px;
        height: 100%;
        width: 100%;

      }
      @import url(https://fonts.googleapis.com/css?family=Roboto+Condensed);
  *{
    margin: 0;
    padding: 0;
  }

  body{
    background-color: #ddd;
    font-family: sans-serif;;
    position: relative;
  }

  .nav_tabs{
    width: 100%;
    height: 41px;
    background-color: #233237;
    position: center;
    border-bottom: solid #fc4a1a 5px;
    font: 'Roboto Condensed';
  }

  .nav_tabs ul{
    list-style: none;
  }

  .nav_tabs ul li{
    float: left;
  }

  .tab_label{
    display: block;
    width: 75px;
    background-color: #233237;
    padding: 9px;
    font-size: 20px;
    color:#fff;
    cursor: pointer;
    text-align: center;
    
  }


  .nav_tabs .rd_tab { 
  display:none;
  
}

.nav_tabs .rd_tab:checked ~ label { 
  background-color: #fc4a1a;
  color:#fff;
  border-radius-top-left:5px;
  border-radius-top-right:5px;
  border-radius: 2px;
}

.tab-content{
  
  background-color: #dfdce3;
  display: none;
  position: absolute;
  height: 100%;
  width: 70%;
  margin-right: 14%;
  margin-left: 15%;
  margin-top:7px;
  z-index: 1;
  left: 0; 
  
}

.rd_tab:checked ~ .tab-content{
  display: block;
}
.tab-content h2{

  padding: 12px;
  color: #fc4a1a;
  
}
.tab-content article{
  padding: 10px;
  color: #555;

}
  .nextbuttons{

    display: block;
    width: 75px;
    background-color: #233237;
    padding: 9px;
    font-size: 20px;
    color:#fff;
    cursor: pointer;
    text-align: center;
    float: right;
    top: 400px;
    position: fixed;
    right: 15%;
    z-index: 5;
    border-radius: 2px;
  
  }
  .backbuttons{

    display: block;
    width: 75px;
    background-color: #233237;
    padding: 9px;
    font-size: 20px;
    color:#fff;
    cursor: pointer;
    text-align: center;
    float: left;
    top: 400px;
    position: fixed;
    left: 15%;
    z-index: 5;
    border-radius: 2px;
    
  
  }

