<!DOCTYPE html>
<html>
<head>
<meta name="viewport" content="width=device-width, initial-scale=1">

</head>
  <link href="/static/parametrization/parametrization.css" rel="stylesheet">
  <!-- <link href="/home/bruno/Documents/dev/ecosim/interface/static/parametrization/parametrization.css" rel="stylesheet"> -->
<body>

  <form id="form-simulation-execution" action="/simulation/execution" method="post">
    <div class="sidenav">
      <a href="#simulation" id="simulation">Simulation</a>
      <a href="#model" id="model">Model</a>
      <a href="#agents" id="agents">Agents</a>
      <a href="#spaces" id="spaces">Spaces</a>  
      <a href="#observers" id="scenarios">Scenarios</a>
      <input type="submit" value="SIMULATE!">
    </div>

    <div class="main">      

      <div class="container" id="div-simulation">

        <h3>Simulation</h3>

        <div id="models"></div>
      </div>

      <div class="container" id="div-model" style="display:none"></div>

      <div class="container" id="div-agents" style="display:none"></div>

      <div class="container" id="div-spaces" style="display:none"></div>

      <div class="container" id="div-observers" style="display:none"></div>

    </div>
  </form>


<!--   <script type="text/javascript" src="/home/bruno/Documents/dev/ecosim/interface/templates/parametrization/ParametrizationController_test.js"></script>
  <script type="text/javascript" src="/home/bruno/Documents/dev/ecosim/interface/templates/parametrization/parametrization_test.js"></script>   -->
   
   <script type="text/javascript" src="/static/parametrization/controllers/ParametrizationController.js"></script>

   <script type="text/javascript" src="/static/parametrization/controllers/SimulationController.js"></script>

   <script type="text/javascript" src="/static/parametrization/parametrization.js"></script>  
</body>
</html> 
